/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/
/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/
/* imports
--------------------------------*/
/* SASS Variables
--------------------------------*/
/* SASS Extends
--------------------------------*/
/* line 27, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
section.first-section, section.second-section, section.third-section {
  height: 100rem;
  max-height: 100%;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* line 35, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
html {
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}

/* line 40, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 45, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.main-body {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  height: 100%;
  border: solid 1px green;
}

/* line 52, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
hr.hot-red {
  height: 1rem;
  background-color: #F15A29;
  margin: 0 auto;
  width: 8rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  clear: both;
}

/* line 63, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
hr.dark-red {
  height: 1rem;
  background-color: #7A1A00;
  margin: 0 auto;
  width: 8rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  clear: both;
}

/* line 74, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.indi {
  border: solid 1px red;
}

/* line 78, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
header.main-header {
  background-color: transparent;
  position: fixed;
  top: 0rem;
  z-index: 3;
  padding: 0rem;
}

/* line 87, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.site-logo img {
  width: 6rem;
}

/* line 92, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
ul.dropdown ul.menu li.is-active > a {
  color: #F15A29;
}

/*---------------------Foundation Default Styles Start. Do Not Delete---------------------*/
/* line 97, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.dropdown.menu .is-active > a {
  color: #F15A29;
}

/* line 101, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.menu .is-active > a {
  background: transparent;
  color: #F15A29;
}

/* line 106, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.title-bar {
  background: transparent;
  color: transparent;
}

/* line 111, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  box-shadow: 0 7px 0 transparent, 0 14px 0 transparent;
  content: '';
}

/*---------------------Foundation Default Styles End. Do Not Delete---------------------*/
/* line 127, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
li.styled-active a {
  color: #F15A29;
}

/* line 133, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul {
  float: right;
  background-color: transparent;
}

/* line 138, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a {
  font-size: 2.5rem !important;
  padding-right: 2rem;
  color: #525252;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

/* line 147, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  color: #F15A29;
  transform: scale(1.1);
}

/* line 157, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
section.hero-img {
  background: url(../imgs/white-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100rem;
  max-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0em;
  left: 0em;
  overflow: hidden;
}

/* line 174, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.intro-text {
  height: 40rem;
  position: fixed;
  top: 30rem;
  z-index: -1;
}

/* line 180, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.intro-text h1 {
  width: 100%;
  color: #F15A29;
  font-size: 20rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  line-height: 17rem;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 191, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.intro-text p {
  width: 100%;
  color: #525252;
  font-size: 5rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 202, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.btn-container {
  position: fixed;
  top: 60rem;
  height: 10rem;
  align-content: center;
  display: flex;
}

/* line 210, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn {
  display: flex;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  background-image: url(../imgs/arrow-down-2.png);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-color: transparent;
  background-position: center center;
  transition: background-image 0.25s ease-out;
  animation-name: upNdown;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 229, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn:hover, a.dwn-btn:focus {
  background-image: url(../imgs/arrow-down-pc.png);
  background-color: transparent;
}

@keyframes upNdown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}

/* line 248, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
section.second-section {
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  height: auto;
}

/* line 256, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ss-contents {
  margin-top: 8rem;
  height: 25rem;
  margin-bottom: 5rem;
}

/* line 261, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ss-contents h2 {
  color: #F15A29;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 10rem;
  width: 100%;
  height: 14rem;
}

/* line 272, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ss-contents p {
  color: #525252;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 45rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  line-height: 3.5rem;
  font-weight: 300;
}

/* line 285, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.portfolio {
  margin-bottom: 5rem;
}

/* line 289, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.package-pp,
a.web-pp,
a.marketing-pp,
a.ppt-pp {
  background-color: #7A1A00;
  width: 100%;
  height: auto;
  position: relative;
}

/* line 301, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.package-pp img {
  width: 100%;
  height: auto;
}

/* line 306, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.package-pp h4 {
  background-color: #F15A29;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  width: 12rem;
  max-width: 100%;
  padding: 1rem;
  position: absolute;
  top: 45%;
  left: 35%;
  z-index: 3;
  text-align: center;
}

/* line 322, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.port-btn {
  border: solid 1px red;
  height: 10rem;
  margin-bottom: 5rem;
}

/* line 328, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.more-btn {
  margin: 0 auto;
  padding: 3.3rem;
  width: 30rem;
  border-radius: 1.5rem;
  font-size: 3rem;
  display: block;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #F15A29;
}

/* line 339, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
a.more-btn:hover, a.more-btn:focus {
  background-color: #7A1A00;
}

/* line 347, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
section.third-section {
  background-color: #525252;
  height: 60rem;
  z-index: 3;
  position: relative;
}

/* line 354, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
section.third-section h3 {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 10rem;
  width: 100%;
  height: 14rem;
  margin-top: 8rem;
}

/* line 368, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ts-icons {
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
}

/* line 373, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ts-icons img {
  width: 15rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

/* line 380, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ts-icons p {
  color: #FFFFFF;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  font-weight: 300;
  line-height: 3rem;
}

/* line 391, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
div.ts-icons p span {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: -1rem;
  display: block;
}

/* line 406, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
footer.main-footer {
  height: 5rem;
  background-color: #525252;
  align-items: center;
  clear: both;
}

/* line 414, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
footer.main-footer p {
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* line 425, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
.no-js .top-bar {
  display: none;
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  /* line 433, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 437, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 441, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  div.button-container {
    padding: 0.9rem;
    background-color: transparent;
  }
  /* line 446, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .menu-tag {
    width: 5rem;
    height: 3.5rem;
  }
  /* line 451, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .menu-tag::after {
    width: 4rem;
    background: #F15A29;
    box-shadow: 0 1rem 0 #F15A29, 0 2rem 0 #F15A29;
    height: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: -0.1rem;
    display: block;
  }
  /* line 462, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .menu-icon:hover::after {
    background: #525252;
    box-shadow: 0 1rem 0 #525252, 0 2rem 0 #525252;
  }
  /* line 467, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav {
    width: 100% !important;
    margin-top: 0.5rem;
  }
  /* line 471, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
  }
  /* line 476, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li {
    width: 100% !important;
    font-weight: bolder;
    font-size: 1.5rem !important;
    font-weight: 100;
    text-align: center;
    border-bottom: solid 0.2rem #F15A29;
  }
  /* line 484, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li:first-child {
    border-top: solid 0.2rem #F15A29;
  }
  /* line 488, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li a {
    padding: 2rem 1rem 2rem 1rem;
    background-color: transparent !important;
    box-sizing: border-box;
  }
  /* line 495, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li li.styled-active a {
    padding-right: 0rem;
  }
  /* line 503, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
    border: solid 1px green;
  }
  /* line 508, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
  /* line 512, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  section.second-section {
    height: 240rem;
  }
  /* line 516, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  a.package-pp,
  a.web-pp,
  a.marketing-pp,
  a.ppt-pp {
    background-color: #7A1A00;
    width: auto;
  }
  /* line 525, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  section.third-section {
    height: 190rem;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 534, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 538, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 542, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
    border: solid 1px green;
  }
  /* line 547, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
  /* line 551, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  section.second-section {
    height: 131rem;
  }
  /* line 555, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  a.package-pp,
  a.web-pp,
  a.marketing-pp,
  a.ppt-pp {
    height: 0%;
  }
  /* line 562, /Users/chuckobazeimac/Documents/newChuckObazeWebsite/sass/app.scss */
  section.third-section {
    height: 110rem;
  }
}

/*# sourceMappingURL=../css/app.map */
