/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/
/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/
/* imports
--------------------------------*/
/* SASS Variables
--------------------------------*/
/* SASS Extends
--------------------------------*/
/* line 26, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.first-section, section.second-section {
  height: 100rem;
  max-height: 100%;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* line 34, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
html {
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}

/* line 39, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 44, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.main-body {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  height: 100%;
}

/* line 50, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
hr {
  height: 1rem;
  background-color: #7A1A00;
  margin: 0 auto;
  width: 10rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* line 60, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.indi {
  border: solid 1px red;
}

/* line 64, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
header.main-header {
  background-color: transparent;
  position: fixed;
  top: 0rem;
  border: solid 1px green;
  z-index: 2;
  padding: 0rem;
}

/* line 74, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.site-logo img {
  width: 6rem;
}

/* line 81, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
li.styled-active a {
  color: #F15A29 !important;
}

/* line 87, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul {
  float: right;
  background-color: transparent;
}

/* line 92, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a {
  font-size: 2.5rem !important;
  padding-right: 2rem;
  color: #525252;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

/* line 101, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  color: #F15A29;
  transform: scale(1.1);
}

/* line 111, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.hero-img {
  background: url(../imgs/white-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100rem;
  max-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0em;
  left: 0em;
  overflow: hidden;
  border: solid 1px yellow;
}

/* line 129, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text {
  height: 40rem;
  position: fixed;
  top: 30rem;
  z-index: -1;
}

/* line 135, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text h1 {
  width: 100%;
  color: #F15A29;
  font-size: 20rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  line-height: 17rem;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 146, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text p {
  width: 100%;
  color: #525252;
  font-size: 5rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 157, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.btn-container {
  position: fixed;
  top: 60rem;
  height: 10rem;
  width: 100%;
  text-align: center;
  z-index: -1;
}

/* line 166, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn {
  display: inline-block;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  background-image: url(../imgs/arrow-down-2.png);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-color: transparent;
  background-position: center center;
}

/* line 177, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn:hover, a.dwn-btn:focus {
  background-image: url(../imgs/arrow-down-pc.png);
}

/* line 185, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.second-section {
  background-color: #FFFFFF;
}

/* line 190, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents {
  margin-top: 8rem;
}

/* line 193, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents h3 {
  color: #F15A29;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 7rem;
  width: 100%;
  height: 8rem;
}

/* line 204, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents p {
  color: #525252;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 45rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  margin-top: 3rem;
}

/* line 218, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
footer.main-footer {
  height: 5rem;
  background-color: #525252;
  align-items: center;
}

/* line 223, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
footer.main-footer p {
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

/* line 234, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.no-js .top-bar {
  display: none;
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  /* line 242, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 246, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 250, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.button-container {
    padding: 0.9rem;
    background-color: transparent;
  }
  /* line 255, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-tag {
    width: 5rem;
    height: 3.5rem;
  }
  /* line 260, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-tag::after {
    width: 4rem;
    background: #F15A29;
    box-shadow: 0 1rem 0 #F15A29, 0 2rem 0 #F15A29;
    height: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: -0.1rem;
    display: block;
  }
  /* line 271, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-icon:hover::after {
    background: #525252;
    box-shadow: 0 1rem 0 #525252, 0 2rem 0 #525252;
  }
  /* line 276, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav {
    width: 100% !important;
    margin-top: 0.5rem;
  }
  /* line 280, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
  }
  /* line 285, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li {
    width: 100% !important;
    font-weight: bolder;
    font-size: 1.5rem !important;
    font-weight: 100;
    text-align: center;
    border-bottom: solid 0.2rem #F15A29;
  }
  /* line 293, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li:first-child {
    border-top: solid 0.2rem #F15A29;
  }
  /* line 297, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li a {
    padding: 2rem 1rem 2rem 1rem;
    background-color: transparent !important;
    box-sizing: border-box;
  }
  /* line 304, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li li.styled-active a {
    padding-right: 0rem;
  }
  /* line 312, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
    border: solid 1px green;
  }
  /* line 317, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 326, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 330, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 334, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
    border: solid 1px green;
  }
  /* line 339, /Users/chuckobazemac/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
}

/*# sourceMappingURL=../css/app.map */
