/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/
/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/
/* imports
--------------------------------*/
/* SASS Variables
--------------------------------*/
/* SASS Extends
--------------------------------*/
/* line 28, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.third-section h3, section.fourth-section h3, section.fifth-section h3 {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 10rem;
  width: 100%;
  height: 14rem;
  margin-top: 8rem;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* line 44, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
html {
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}

/* line 49, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 54, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
main.main-body {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  height: 100%;
  border: solid 1px green;
}

/* line 61, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
hr.hot-red {
  height: 1rem;
  background-color: #F15A29;
  margin: 0 auto;
  width: 8rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  clear: both;
}

/* line 72, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
hr.dark-red {
  height: 1rem;
  background-color: #7A1A00;
  margin: 0 auto;
  width: 8rem;
  border: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  clear: both;
}

/* line 83, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
header.main-header {
  background-color: transparent;
  position: fixed;
  top: 0rem;
  z-index: 3;
  padding: 0rem;
}

/* line 92, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.site-logo img {
  width: 6rem;
}

/* line 97, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
ul.dropdown ul.menu li.is-active > a {
  color: #F15A29;
}

/*---------------------Start Foundation Default Styles Start. Do Not Delete---------------------*/
/* line 102, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.dropdown.menu .is-active > a {
  color: #F15A29;
}

/* line 106, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.menu .is-active > a {
  background: transparent;
  color: #F15A29;
}

/* line 111, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.title-bar {
  background: transparent;
  color: transparent;
}

/* line 116, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  box-shadow: 0 7px 0 transparent, 0 14px 0 transparent;
  content: '';
}

/*---------------------End Foundation Default Styles End. Do Not Delete---------------------*/
/* line 132, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
li.styled-active a {
  color: #F15A29;
}

/* line 138, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul {
  float: right;
  background-color: transparent;
}

/* line 143, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a {
  font-size: 2.5rem !important;
  padding-right: 2rem;
  color: #525252;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  transition: 0.5s;
}

/* line 152, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  color: #F15A29;
  transform: scale(1.1);
}

/* line 162, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.hero-img {
  background: url(../imgs/white-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100rem;
  max-height: 100%;
  position: fixed;
  z-index: -1;
  top: 0em;
  left: 0em;
  overflow: hidden;
}

/* line 175, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.first-section {
  height: 100rem;
  max-height: 100%;
}

/* line 180, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text {
  height: 40rem;
  position: fixed;
  top: 30rem;
  z-index: -1;
}

/* line 186, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text h1 {
  width: 100%;
  color: #F15A29;
  font-size: 20rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  line-height: 17rem;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 197, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.intro-text p {
  width: 100%;
  color: #525252;
  font-size: 5rem;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
}

/* line 208, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.btn-container {
  position: fixed;
  top: 60rem;
  height: 10rem;
  align-content: center;
  display: flex;
}

/* line 216, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn {
  display: flex;
  margin: 0 auto;
  height: 10rem;
  width: 10rem;
  background-image: url(../imgs/arrow-down-2.png);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-color: transparent;
  background-position: center center;
  transition: background-image 0.25s ease-out;
  -webkit-transition: background-image 0.25s ease-out;
  animation-name: upNdown;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 235, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
a.dwn-btn:hover, a.dwn-btn:focus {
  background-image: url(../imgs/arrow-down-pc.png);
  background-color: transparent;
}

@keyframes upNdown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}

/* line 254, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.second-section {
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  height: auto;
}

/* line 261, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents {
  margin-top: 8rem;
  height: 25rem;
  margin-bottom: 5rem;
}

/* line 266, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents h2 {
  color: #F15A29;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 10rem;
  width: 100%;
  height: 14rem;
}

/* line 277, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ss-contents p {
  color: #525252;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 56rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  line-height: 3.5rem;
  font-weight: 300;
}

/* line 290, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.portfolio {
  margin-bottom: 5rem;
}

/* line 294, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp,
figure.web-pp,
figure.info-pp,
figure.edit-pp {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

/* line 306, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp:hover figcaption, figure.package-pp:focus figcaption,
figure.web-pp:hover figcaption,
figure.web-pp:focus figcaption,
figure.info-pp:hover figcaption,
figure.info-pp:focus figcaption,
figure.edit-pp:hover figcaption,
figure.edit-pp:focus figcaption {
  background: rgba(241, 90, 41, 0.3);
}

/* line 310, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp:hover img, figure.package-pp:focus img,
figure.web-pp:hover img,
figure.web-pp:focus img,
figure.info-pp:hover img,
figure.info-pp:focus img,
figure.edit-pp:hover img,
figure.edit-pp:focus img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}

/* line 316, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp figcaption,
figure.web-pp figcaption,
figure.info-pp figcaption,
figure.edit-pp figcaption {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
}

/* line 327, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp figcaption a,
figure.web-pp figcaption a,
figure.info-pp figcaption a,
figure.edit-pp figcaption a {
  display: block;
  height: 4.5rem;
  width: 12rem;
  max-width: 100%;
  background-color: #F15A29;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  font-size: 1.6rem;
  opacity: 0;
  margin: 0 auto;
  margin-top: 30%;
}

/* line 343, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp figcaption a:hover, figure.package-pp figcaption a:focus,
figure.web-pp figcaption a:hover,
figure.web-pp figcaption a:focus,
figure.info-pp figcaption a:hover,
figure.info-pp figcaption a:focus,
figure.edit-pp figcaption a:hover,
figure.edit-pp figcaption a:focus {
  background-color: #7A1A00;
}

/* line 351, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp figcaption:hover a, figure.package-pp figcaption:focus a,
figure.web-pp figcaption:hover a,
figure.web-pp figcaption:focus a,
figure.info-pp figcaption:hover a,
figure.info-pp figcaption:focus a,
figure.edit-pp figcaption:hover a,
figure.edit-pp figcaption:focus a {
  opacity: 1;
}

/* line 357, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
figure.package-pp img,
figure.web-pp img,
figure.info-pp img,
figure.edit-pp img {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 366, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.port-btn {
  height: 7.5rem;
  margin-bottom: 5rem;
}

/* line 370, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.port-btn a {
  margin: 0 auto;
  padding: 2rem;
  width: 20rem;
  border-radius: 1rem;
  font-size: 3rem;
  display: block;
  font-weight: bold;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #F15A29;
}

/* line 381, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.port-btn a:hover, div.port-btn a:focus {
  background-color: #7A1A00;
}

/* line 390, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.third-section {
  background-color: #F2F2F2;
  height: 70rem;
  z-index: 2;
  position: relative;
}

/* line 396, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.third-section h3 {
  color: #F15A29;
}

/* line 402, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ts-icons {
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
}

/* line 407, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ts-icons img {
  width: 15rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

/* line 414, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ts-icons p {
  color: #525252;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 33rem;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  font-weight: 500;
  line-height: 3rem;
}

/* line 425, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.ts-icons p span {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: -1rem;
  display: block;
}

/* line 436, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.fourth-section {
  height: 50rem;
  position: relative;
  z-index: 3;
  background-image: url(../imgs/phil-bg.jpg);
  background-color: #F15A29;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 446, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.fourth-section h3 {
  color: #FFFFFF;
}

/* line 451, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.fourth-section p {
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
  font-size: 4rem;
  width: 86rem;
  margin: 0 auto;
  text-align: center;
  line-height: 4.5rem;
}

/* line 464, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.fifth-section {
  background-color: #FFFFFF;
  height: 80rem;
  z-index: 3;
  position: relative;
}

/* line 470, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
section.fifth-section h3 {
  color: #F15A29;
  margin-bottom: 10rem;
}

/* line 478, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.fs-icons {
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
}

/* line 483, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.fs-icons img {
  width: 15rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
  margin-right: 2rem;
  float: left;
}

/* line 492, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.fs-icons p {
  color: #525252;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", sans-serif;
  width: 52rem;
  text-align: left;
  max-width: 100%;
  font-weight: 500;
  line-height: 3rem;
  float: left;
}

/* line 503, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.fs-icons p span {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  display: block;
}

/* line 512, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
div.mp-space {
  margin-bottom: 10rem;
}

/* line 519, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
footer.main-footer {
  height: 5rem;
  background-color: #525252;
  align-items: center;
  clear: both;
}

/* line 527, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
footer.main-footer p {
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* line 538, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
.no-js .top-bar {
  display: none;
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {
  /* line 546, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 550, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 554, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.button-container {
    padding: 0.9rem;
    background-color: transparent;
  }
  /* line 559, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-tag {
    width: 5rem;
    height: 3.5rem;
  }
  /* line 564, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-tag::after {
    width: 4rem;
    background: #F15A29;
    box-shadow: 0 1rem 0 #F15A29, 0 2rem 0 #F15A29;
    height: 0.5rem;
    position: absolute;
    top: 0.5rem;
    left: -0.1rem;
    display: block;
  }
  /* line 575, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .menu-icon:hover::after {
    background: #525252;
    box-shadow: 0 1rem 0 #525252, 0 2rem 0 #525252;
  }
  /* line 580, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav {
    width: 100% !important;
    margin-top: 0.5rem;
  }
  /* line 584, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
  }
  /* line 589, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li {
    width: 100% !important;
    font-weight: bolder;
    font-size: 1.5rem !important;
    font-weight: 100;
    text-align: center;
    border-bottom: solid 0.2rem #F15A29;
  }
  /* line 597, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li:first-child {
    border-top: solid 0.2rem #F15A29;
  }
  /* line 601, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li a {
    padding: 2rem 1rem 2rem 1rem;
    background-color: transparent !important;
    box-sizing: border-box;
  }
  /* line 608, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  nav.main-nav ul li li.styled-active a {
    padding-right: 0rem;
  }
  /* line 616, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
  }
  /* line 620, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
  /* line 624, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.second-section {
    height: 202rem;
  }
  /* line 628, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.ss-contents {
    margin-bottom: 10rem;
  }
  /* line 632, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.ss-contents h2 {
    font-size: 8rem;
  }
  /* line 636, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.ss-contents p {
    width: 35rem;
    line-height: 3rem;
  }
  /* line 649, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  figure.package-pp figcaption a,
  figure.web-pp figcaption a,
  figure.info-pp figcaption a,
  figure.edit-pp figcaption a {
    font-size: 1.5rem;
  }
  /* line 655, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.third-section {
    height: 190rem;
  }
  /* line 658, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.third-section h3 {
    font-size: 8rem;
    line-height: 8rem;
  }
  /* line 666, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.fourth-section h3 {
    font-size: 8rem;
  }
  /* line 670, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.fourth-section p {
    line-height: 3.5rem;
    font-size: 3rem;
    width: 44rem;
  }
  /* line 677, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.fifth-section {
    background-color: #FFFFFF;
    height: 200rem;
    z-index: 3;
    position: relative;
  }
  /* line 683, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.fifth-section h3 {
    font-size: 8rem;
  }
  /* line 689, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.fs-icons {
    width: 150rem;
    max-width: 100%;
    margin: 0 auto;
  }
  /* line 694, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.fs-icons img {
    width: 15rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 5rem;
    float: none;
  }
  /* line 702, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.fs-icons p {
    width: 52rem;
    text-align: center;
    max-width: 100%;
    font-weight: 500;
    line-height: 3rem;
    float: none;
  }
  /* line 710, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.fs-icons p span {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    display: block;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 724, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .top-bar {
    display: block;
  }
  /* line 728, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  .no-js .title-bar {
    display: none;
  }
  /* line 732, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.intro-text {
    height: 55rem;
    border: solid 1px green;
  }
  /* line 737, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  div.btn-container {
    top: 75rem;
  }
  /* line 741, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.second-section {
    height: 123rem;
  }
  /* line 745, C:/Users/Chuck Obaze/Documents/GitHub/newChuckObazeWebsite/sass/app.scss */
  section.third-section {
    height: 110rem;
  }
}

/*# sourceMappingURL=../css/app.map */
