/*--------------------------------------
Prototype Style Sheet (empty commented stylesheet)
version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://chuckobaze.com
--------------------------------*/

/* Remember Order Of Styling Links
a:link, a:visited, a:hover, a:focus, a:active
--------------------------------*/

/* imports
--------------------------------*/
@import 'colors';

/* SASS Variables
--------------------------------*/
$border: solid 1px;
$body-font-size: 10px;
$barlow-font:'Barlow Condensed', sans-serif;
$regular-size: 2.5rem;

/* SASS Extends
--------------------------------*/
%sections {
    height: 100rem;
    max-height: 100%;
}


/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
html {
    font-size: $body-font-size;
    font-family: 'Barlow', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.main-body {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
    height: 100%;
}

hr {
    height: 1rem;
    background-color: $dark-red;
    margin: 0 auto;
    width: 8rem;
    border: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    clear: both;
}

.indi{
    border: $border red;
}

header.main-header {
    background-color: transparent;
    position: fixed;
    top: 0rem;
    z-index: 2;
    padding: 0rem;
}

div.site-logo {
    img {
        width: 6rem;
    }
}

.dropdown.menu
.is-active > a{
    color: $red-color;
}

.styled-active {

    a {
        color: $red-color;
    }
}

nav.main-nav {
    ul {
        float: right;
        background-color: transparent;

        li {
            a {
                font-size: 2.5rem !important;
                padding-right: 2rem;
                color: $gray-color;
                height: 100%;
                font-family: $barlow-font;
                font-weight: bold;
                transition: 0.5s;

                &:hover,
                &:focus {
                    color: $red-color;
                    transform: scale(1.1)
                }
            }
        }
    }
}

section.hero-img {
    background: url(../imgs/white-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100rem;
    max-height: 100%;
    position: fixed;
    z-index: -1;
    top: 0em;
    left: 0em;
    overflow: hidden;
}

section.first-section {
    @extend %sections;
}

div.intro-text {
    height: 40rem;
    position: fixed;
    top: 30rem;
    z-index: -1;

    h1 {
        width: 100%;
        color: $red-color;
        font-size: 20rem;
        text-align: center;
        margin: 0 auto;
        font-weight: 600;
        line-height: 17rem;
        font-family: $barlow-font;
    }

    p {
        width: 100%;
        color: $gray-color;
        font-size: 5rem;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        font-family: $barlow-font;
    }
}

div.btn-container {
    position: fixed;
    top: 60rem;
    height: 10rem;
    width: 100%;
    text-align: center;
    z-index: -1;
}

a.dwn-btn {
    display: inline-block;
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    background-image: url(../imgs/arrow-down-2.png);
    background-repeat: no-repeat;
    background-size: 10rem;
    background-color: transparent;
    background-position: center center;

    &:hover,
    &:focus {
        background-image: url(../imgs/arrow-down-pc.png);
    }
}

// Second Section Style

section.second-section {
    @extend %sections;
    background-color: $white-color;
    height: 65rem;
}

div.ss-contents {
    margin-top: 8rem;
    height: 25rem;
    margin-bottom: 5rem;

    h3 {
        color: $red-color;
        text-align: center;
        font-family: $barlow-font;
        font-size: 10rem;
        font-weight: bold;
        line-height:10rem;
        width: 100%;
        height: 14rem;
    }

    p {
        color: $gray-color;
        font-size: $regular-size;
        font-family: $barlow-font;
        width: 45rem;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
        line-height: 3.5rem;
    }
}


// Footer Style
footer.main-footer{
    height: 5rem;
    background-color: $gray-color;
    align-items: center;

    p{
        margin: 0 auto;
        color: $white-color;
        font-family: $barlow-font;
        font-size: $regular-size - 0.5;
        font-weight: 100;
    }
}


// This is to prevent FOUC (flash of unstyled content.)
.no-js .top-bar {
    display: none;
}

/* Small screen only */
@media screen and (max-width: 39.9375em) {

    // This is to prevent FOUC (flash of unstyled content.)
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }

    div.button-container {
        padding: 0.9rem;
        background-color: transparent;
    }

    .menu-tag {
        width: 5rem;
        height: 3.5rem;
    }

    .menu-tag::after {
        width: 4rem;
        background: $red-color;
        box-shadow: 0 1rem 0 $red-color, 0 2rem 0 $red-color;
        height: 0.5rem;
        position: absolute;
        top: 0.5rem;
        left: -0.1rem;
        display: block;
    }

    .menu-icon:hover::after {
        background: $gray-color;
        box-shadow: 0 1rem 0 $gray-color, 0 2rem 0 $gray-color;
    }

    nav.main-nav {
        width: 100% !important;
        margin-top: 0.5rem;

        ul {
            width: 100% !important;
            background-color: rgba(255, 255, 255, 0.5);
            margin-bottom: 1rem;

            li {
                width: 100% !important;
                font-weight: bolder;
                font-size: 1.5rem !important;
                font-weight: 100;
                text-align: center;
                border-bottom: solid 0.2rem $red-color;

                &:first-child {
                    border-top: solid 0.2rem $red-color;
                }

                a {
                    padding: 2rem 1rem 2rem 1rem;
                    background-color: transparent !important;
                    box-sizing: border-box;
                }

                li.styled-active {
                    a {
                        padding-right: 0rem;
                    }
                }
            }
        }
    }

    div.intro-text {
        height: 55rem;
        border: $border green;
    }

    div.btn-container {
        top: 75rem;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

    // This is to prevent FOUC (flash of unstyled content.)
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }

    div.intro-text {
        height: 55rem;
        border: $border green;
    }

    div.btn-container {
        top: 75rem;
    }
}
