/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://obazedesigns.com
-----------------------------------------------------------------------------*/

/* =imports
-----------------------------------------------------------------------------*/
@import 'colors';


/* =SASS Variables
-----------------------------------------------------------------------------*/


/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/